<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aperçu du Formulaire</title>
    <link rel="stylesheet" href="/css/forms-preview.css">
    <script src="/js/forms-preview.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="form-preview" id="form-preview">
            <div class="preview-container" id="preview-container">
                <div id="preview-header">
                    <h1 id="preview-title"></h1>
                    <p id="preview-description"></p>
                </div>
                <form id="preview-form">
                    <div id="preview-fields"></div>
                    <button type="" id="submit-button">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>